Python Lambda Functions are anonymous function means that the function is without a name. As we already know that the def keyword is used to define a normal function in Python. Similarly, the lambda keyword is used to define an anonymous function in Python.

Python Lambda Function Syntax:

**lambda arguments: expression**

Q1.Write a lambda expression to extract first word of a string.

In [1]:
x="sukesh kumar"
(lambda x:print(x[0:6]))(x)

sukesh

In [2]:
x=lambda a,b:a*b
print(x(5,8))

40

In [3]:
my_string = "my string"
first_word = my_string.split()[0].strip()
print(first_word)

my

Python Lambda Function with List Comprehension

In [4]:
tables = [lambda x=x:x*10 for x in range(1,11)]
for table in tables:
    print(table())

10
20
30
40
50
60
70
80
90
100

Python Lambda Function with if-else

In [5]:
max = lambda a,b : a if(a>b) else b
print(max(2,98756))

98756

Python Lambda with Multiple statements

In [6]:
list =[[2,3,4],[1,4,3,4,56],[2,3,4,5,24,4]]
sort=lambda x:(sorted(i) for i in x)
secondl = lambda x,f:[y[len(y)-2] for y in f(x)]
res = secondl(list,sort)
print(res)

[3, 4, 5]

Using lambda() Function with filter()

The filter() function in Python takes in a function and a list as arguments. This offers an elegant way to filter out all the elements of a sequence “sequence”, for which the function returns True.

In [7]:
li = (5, 7, 22, 97, 54, 62, 77, 23, 73, 61)
 
final_list = tuple(filter(lambda x: (x%2 != 0) , li))
print(final_list)

(5, 7, 97, 77, 23, 73, 61)

Using lambda() Function with map()

In [8]:
li = (5,32,2,3,24,2,4252,4,24)
f_l = tuple(map(lambda x:x*2,li))
print(f_l)

(10, 64, 4, 6, 48, 4, 8504, 8, 48)

In [9]:
animals = ['dog',"cat","parrot","pig"]
upper = tuple(map(lambda animal:str.upper(animal),animals))
print(upper)

('DOG', 'CAT', 'PARROT', 'PIG')

Using lambda() Function with reduce()

The reduce() function in Python takes in a function and a list as an argument. The function is called with a lambda function and an iterable and a new reduced result is returned.

In [10]:
from functools import reduce
li=[3,4,2,23,5,6,8,9,13]
sum = reduce((lambda x,y:x*y),li)
print(sum)

15500160

Q2.Write a function to extract first word of s string (with many words separated by space).

In [13]:
s=str(input())
b=s.split(" ",1)
print(str(b))

i hate u
['i', 'hate u']

In [14]:
def firstword(string):
    word = string.split(" ")
    print(*word, sep="\n")
s = " i love u"
firstword(s)

i
love
u

Q3. Extract the first word from every string from a list of strings by using map function.

In [15]:
test_list = ['Gfg best for', 'All gods', 'It is for', 'all CS professionals']
print("The original list is : " + str(test_list))
N = 1
res = [sub.split()[N - 1] for sub in test_list if len(sub.split()) > 1]
print("The 1st words in list are : " + str(res))

The original list is : ['Gfg best for', 'All gods', 'It is for', 'all CS professionals']
The 1st words in list are : ['Gfg', 'All', 'It', 'all']

Q4.Write a function to return a list of prime factors of a given number.

In [16]:
import math
def prime(n):
    while n%2==0:
        print(n)
        n=n/2
    for i in range(3,int(math.sqrt(n))+1,2):
        while n%i == 0:
            print(i)
            n=n/i
    if n>2:
        print(n)
n=315
prime(n)

3
3
5
7

Q5. Write a function that finds 2nd largest among 4 numbers (Repetitions are allowed,
without sorting).

In [1]:
l1=[10,2,3,4,4,8]
new_lists = set(l1)
#print(new_lists)
new_lists.remove(max(new_lists))
print(max(new_lists))

8

Q7. Take a input from the user and verify the data is a palindrome or not
"NAMAN"

In [2]:
s=str(input())
a=s
b=s[::-1]
print(b)
if (a==b):
    print("it is palindrome")
else:
    print("it is not a palindrome")

NAMAN
NAMAN
it is palindrome

Q6. Take an input from the user as string and find out all the non duplicate words from the input

In [3]:
s = "hello I am good hello user user welcome"
l = s.split()
k=[]
print(l)
print(k)
for i in l:
    if (s.count(i)==1 or (i not in k)):
        k.append(i)
        
        
    
print(" ".join(k))

['hello', 'I', 'am', 'good', 'hello', 'user', 'user', 'welcome']
[]
hello I am good user welcome

Use exception handling to find out the LCM & HCF of two numbers
- Input of two numbers has to be given by the user

In [4]:
a=int(input())
b=int(input())
hcf=1
for i in range(2,a+1):
    if(a%i==0 and b%i==0):
        hcf=i
print(hcf)

12
18
6

In [5]:
a=int(input())
b=int(input())
hcf=1
for i in range(2,a+1):
    if(a%i==0 and b%i==0):
        hcf=i
lcm=int((a*b)/(hcf))
print(lcm)

12
18
36