Square Star Pattern

In [1]:
n=5
for i in range(n):
    for j in range(n):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

Print Hollow Square Star Pattern

In [2]:
n= 5
for i in range(n):
    for j in range(n):
        if(i==0 or i == n-1 or j==0 or j== n-1):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *

 Rhombus Star Pattern

In [3]:
n=5
for i in range(0,n):
    for j in range(1,i+1):
        print(" ",end=" ")
    for j in range(0,n):
        print("*",end=" ")
    print()

* * * * *
  * * * * *
    * * * * *
      * * * * *
        * * * * *

Mirrored Rhombus Star Pattern

In [4]:
n=5
for i in range(0,n):
    for j in range(0,n-i-1):
        print(" ",end=" ")
    for j in range(0,n):
        print("*",end=" ")
    print()

        * * * * *
      * * * * *
    * * * * *
  * * * * *
* * * * *

Triangle Star Pattern

In [5]:
n=5
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [6]:
n=5
for i in range(0,n):
    for j in range(0,i+1):
        print("5",end=" ")
    print()

5
5 5
5 5 5
5 5 5 5
5 5 5 5 5

Pyramid Star Pattern

In [7]:
n=5
for i in range(0,n):
    for j in range(0,n-i-1):
        print(" ",end=" ")
    for j in range(0,i*2+1):
        print("*",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

 Hollow Pyramid Star Pattern

In [8]:
n=5
k=0
for i in range(1,n+1):
    for j in range(i,n):
        print(" ",end=" ")
    while k != (2*i-1):
        if k==0 or k==2*i-2:
            print("*",end=" ")
        else:
            print(" ",end=" ")
        k=k+1
    k=0
    print()
for i in range(0,2*n-1):
    print("*",end=" ")

        *
      *   *
    *       *
  *           *
*               *
* * * * * * * * *

 Inverted Pyramid Star Pattern

In [9]:
n=5
for i in range(0,n):
    for j in range(0,i):
        print(" ",end=" ")
    for j in range(i*2,n*2-1):
        print("*",end=" ")
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

 Half Diamond Star Pattern

In [10]:
n=5
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end=" ")
    print()

for i in range(1,n):
    for j in range(0,n-i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Inverted Half Diamond Star Pattern

In [11]:
n=5
for i in range(0,n):
    for j in range(0,n-i-1):
        print(" ",end=" ")
    for j in range(0,i+1):
        print("*",end=" ")
    print()
for i in range(1,n):
    for i in range(0,i):
        print(" ",end=" ")
    for j in range(0,n-i-1):
        print("*",end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

print number pattern

In [12]:
n=6
for i in range(n+1):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

Pyramid pattern of numbers

In [13]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Inverted pyramid pattern of numbers

In [14]:
n=5
x=0
for i in range(n,0,-1):
    x+=1
    for j in range(1,i+1):
        print(x,end=" ")
    print("\r")

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

Inverted Pyramid pattern with the same digit

In [15]:
n=5
x=n
for i in range(n,0,-1):
    
    for j in range(0,i):
        print(x,end=" ")
    print(" ")

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

Another inverted half pyramid pattern with number

In [16]:
n=5
for i in range(n,0,-1):
    for j in range(0,i+1):
        print(j,end=" ")
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

Alternate numbers pattern using while loop

In [17]:
n=5
i=1
while i<= n:
    j=1
    while j <= i:
        print((i*2-1),end=" ")
        j=j+1
    i=i+1
    print("")

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

Reverse number pattern

In [18]:
n=5
for i in range(n,0,-1):
    x=i
    for j in range(0,i):
        print(x,end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

Reverse Pyramid of Numbers

In [19]:
n=5
for i in range(1,n):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

1
2 1
3 2 1
4 3 2 1

Another reverse number pattern

In [20]:
n=5
for i in range(0,n+1):
    for j in range(n-i,0,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

Print reverse number from 10 to 1

In [21]:
st=1
sp=2
c_n=sp
for row in range(2,6):
    for col in range(st,sp):
        c_n-=1
        print(c_n,end=" ")
    print()
    st=sp
    sp+=row
    c_n=sp

1
3 2
6 5 4
10 9 8 7

Number triangle pattern
 right-angled triangle pattern of numbers

In [22]:
r=6
for i in range(1,r):
    n=1
    for j in range(r,0,-1):
        if j>i:
            print(" ",end=" ")
        else:
            print(n,end=" ")
            n+=1
    print()

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

Square pattern with numbers

In [23]:
r=5
for i in range(1,r+1):
    for j in range(1,r+1):
        if j<=i:
            print(i,end=" ")
        else:
            print(j,end=" ")
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

Multiplication table pattern

In [24]:
r=6
for i in range(1,r+1):
    for j in range(1,i+1):
        s=i*j
        print(i*j,end=" ")
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36

Equilateral triangle pattern of star

In [25]:
n=7
m=(2*n)-2
for i in range(0,n):
    for j in range(0,m):
        print(end=" ")
    m=m-1
    for j in range(0,i+1):
        print("*",end=" ")
    print("")

            *
           * *
          * * *
         * * * *
        * * * * *
       * * * * * *
      * * * * * * *

Pant style pattern of stars

In [26]:
r=12
print("*" * r,end="\n")
i=(r//2)-1
j=2
while i!=0:
    while j<=(r-2):
        print("*"  *i,end="")
        print("_"  *j,end="")
        print("*" *i,end="\n")
        i=i-1
        j=j+2

************
*****__*****
****____****
***______***
**________**
*__________*